@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  background-color: #445b2e;
  scroll-snap-type: y mandatory;
  text-shadow: rgba(0, 0, 0, 0.6) 4px 4px 27px;
}

header {
  /* Size */
  width: 100%;
  min-height: 100vh;
  /* Layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* Background */
  background-image: url(/img/light/hero-bg.png);
  background-size: cover;
  image-rendering: pixelated;
  -webkit-backdrop-filter: blur(500px);
  backdrop-filter: blur(500px);
  scroll-snap-align: start;
}

@keyframes fadein {
  0% {
    transform: translateY(-10%);
    opacity: 40%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

header * {
  /* Animation */
  animation: 1s cubic-bezier(0.23, 1, 0.32, 1) 0s 1 fadein;
}

#hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: calc(100% - 100px);
  height: 100vh;
  gap: 50px;
  padding: 0px 50px;
}

#hero img {
  -webkit-mask-image: url(/img/frame/1.png);
  -webkit-mask-position: center;
  -webkit-mask-size: 350px 350px;
  mask-image: url(/img/frame/1.png);
  mask-position: center;
  mask-size: 350px 350px;
  box-shadow: 10px 5px 5px red;
}

#hero-text {
  /* Font */
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* Layout */
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  flex-wrap: wrap;
  text-align: left;
  column-gap: 50px;
  /* Text styling */
  color: #c9f2ce;
}

#hero-text h1 {
  font-size: 128px;
  font-weight: 700;
  margin-block: unset;
}
#hero p {
  font-size: 64px;
  font-weight: 500;
  margin-block: unset;
}

@keyframes down-arrow {
  0% {
    transform: translateY(0%);
    filter: opacity(40%);
  }
  40% {
    transform: translateY(100px);
    filter: opacity(100%);
  }
  60% {
  }
  100% {
    transform: translateY(0%);
    filter: opacity(40%);
  }
}

picture#down-arrow {
  image-rendering: pixelated;
  bottom: 15vh;
  position: absolute;
  animation-name: down-arrow;
  animation-duration: 2000ms;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-iteration-count: infinite;
  cursor: pointer;
}

main section {
  height: 100vh;
  width: calc(100% - 100px);
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "Pixelify Sans", sans-serif;
  align-items: center;
  justify-content: center;
  color: #c9f2ce;
  gap: 10px;
  text-align: center;
  padding: 0px 50px;
  scroll-snap-align: start;
}

main section h2 {
  font-weight: 700;
  font-size: clamp(3rem, 2.4444rem + 2.963vw, 6rem);
  margin-block: unset;
}
main section p {
  font-weight: 400;
  font-size: clamp(1.25rem, 1.1111rem + 0.7407vw, 2rem);
  margin-block: unset;
}

@media (max-height: 670px) {
  picture#down-arrow {
    bottom: 5vh;
  }
  @keyframes down-arrow {
    0% {
      transform: translateY(0%);
      filter: opacity(40%);
    }
    40% {
      transform: translateY(30px);
      filter: opacity(100%);
    }
    60% {
    }
    100% {
      transform: translateY(0%);
      filter: opacity(40%);
    }
  }
}

@media (max-width: 1200px) {
  #hero {
    gap: 30px;
  }
  #hero img {
    scale: 0.8;
  }
  #hero-text h1 {
    font-size: 96px;
  }
  #hero-text p {
    font-size: 48px;
  }
}

@media (max-width: 800px) {
  #hero {
    gap: 30px;
    flex-direction: column;
  }
  #hero img {
    scale: 1.2;
  }
  #hero-text {
    text-align: center;
  }
  #hero-text h1 {
    font-size: 64px;
  }
  #hero-text p {
    font-size: 32px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #04192e;
  }
  header {
    background-image: url(/img/dark/hero-bg.png);
  }
  #hero-text {
    color: #9ec9f0;
  }
  main section {
    color: #9ec9f0;
  }
}
