.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(
    0px calc(100% - 24px),
    2px calc(100% - 24px),
    2px calc(100% - 18px),
    4px calc(100% - 18px),
    4px calc(100% - 16px),
    6px calc(100% - 16px),
    6px calc(100% - 14px),
    6px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 10px),
    10px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 6px),
    14px calc(100% - 6px),
    16px calc(100% - 6px),
    16px calc(100% - 4px),
    18px calc(100% - 4px),
    18px calc(100% - 2px),
    24px calc(100% - 2px),
    24px 100%,
    calc(100% - 24px) 100%,
    calc(100% - 24px) calc(100% - 2px),
    calc(100% - 18px) calc(100% - 2px),
    calc(100% - 18px) calc(100% - 4px),
    calc(100% - 16px) calc(100% - 4px),
    calc(100% - 16px) calc(100% - 6px),
    calc(100% - 14px) calc(100% - 6px),
    calc(100% - 12px) calc(100% - 6px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 10px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 10px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 6px) calc(100% - 12px),
    calc(100% - 6px) calc(100% - 14px),
    calc(100% - 6px) calc(100% - 16px),
    calc(100% - 4px) calc(100% - 16px),
    calc(100% - 4px) calc(100% - 18px),
    calc(100% - 2px) calc(100% - 18px),
    calc(100% - 2px) calc(100% - 24px),
    100% calc(100% - 24px),
    100% 24px,
    calc(100% - 2px) 24px,
    calc(100% - 2px) 18px,
    calc(100% - 4px) 18px,
    calc(100% - 4px) 16px,
    calc(100% - 6px) 16px,
    calc(100% - 6px) 14px,
    calc(100% - 6px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 10px,
    calc(100% - 10px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 6px,
    calc(100% - 14px) 6px,
    calc(100% - 16px) 6px,
    calc(100% - 16px) 4px,
    calc(100% - 18px) 4px,
    calc(100% - 18px) 2px,
    calc(100% - 24px) 2px,
    calc(100% - 24px) 0px,
    24px 0px,
    24px 2px,
    18px 2px,
    18px 4px,
    16px 4px,
    16px 6px,
    14px 6px,
    12px 6px,
    12px 8px,
    10px 8px,
    8px 10px,
    8px 12px,
    6px 12px,
    6px 14px,
    6px 16px,
    4px 16px,
    4px 18px,
    2px 18px,
    2px 24px,
    0px 24px
  );
  position: relative;
}
.pixel-corners {
  border: 4px solid transparent;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(
    4px 26px,
    6px 26px,
    6px 20px,
    8px 20px,
    8px 18px,
    10px 18px,
    10px 16px,
    10px 14px,
    12px 14px,
    12px 12px,
    14px 12px,
    14px 10px,
    16px 10px,
    18px 10px,
    18px 8px,
    20px 8px,
    20px 6px,
    26px 6px,
    26px 4px,
    calc(100% - 26px) 4px,
    calc(100% - 26px) 6px,
    calc(100% - 20px) 6px,
    calc(100% - 20px) 8px,
    calc(100% - 18px) 8px,
    calc(100% - 18px) 10px,
    calc(100% - 16px) 10px,
    calc(100% - 14px) 10px,
    calc(100% - 14px) 12px,
    calc(100% - 12px) 12px,
    calc(100% - 12px) 14px,
    calc(100% - 10px) 14px,
    calc(100% - 10px) 16px,
    calc(100% - 10px) 18px,
    calc(100% - 8px) 18px,
    calc(100% - 8px) 20px,
    calc(100% - 6px) 20px,
    calc(100% - 6px) 26px,
    calc(100% - 4px) 26px,
    calc(100% - 4px) calc(100% - 26px),
    calc(100% - 6px) calc(100% - 26px),
    calc(100% - 6px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 18px),
    calc(100% - 10px) calc(100% - 18px),
    calc(100% - 10px) calc(100% - 16px),
    calc(100% - 10px) calc(100% - 14px),
    calc(100% - 12px) calc(100% - 14px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 14px) calc(100% - 12px),
    calc(100% - 14px) calc(100% - 10px),
    calc(100% - 16px) calc(100% - 10px),
    calc(100% - 18px) calc(100% - 10px),
    calc(100% - 18px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 6px),
    calc(100% - 26px) calc(100% - 6px),
    calc(100% - 26px) calc(100% - 4px),
    26px calc(100% - 4px),
    26px calc(100% - 6px),
    20px calc(100% - 6px),
    20px calc(100% - 8px),
    18px calc(100% - 8px),
    18px calc(100% - 10px),
    16px calc(100% - 10px),
    14px calc(100% - 10px),
    14px calc(100% - 12px),
    12px calc(100% - 12px),
    12px calc(100% - 14px),
    10px calc(100% - 14px),
    10px calc(100% - 16px),
    10px calc(100% - 18px),
    8px calc(100% - 18px),
    8px calc(100% - 20px),
    6px calc(100% - 20px),
    6px calc(100% - 26px),
    4px calc(100% - 26px)
  );
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(
    0px calc(100% - 24px),
    2px calc(100% - 24px),
    2px calc(100% - 18px),
    4px calc(100% - 18px),
    4px calc(100% - 16px),
    6px calc(100% - 16px),
    6px calc(100% - 14px),
    6px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 10px),
    10px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 6px),
    14px calc(100% - 6px),
    16px calc(100% - 6px),
    16px calc(100% - 4px),
    18px calc(100% - 4px),
    18px calc(100% - 2px),
    24px calc(100% - 2px),
    24px 100%,
    calc(100% - 24px) 100%,
    calc(100% - 24px) calc(100% - 2px),
    calc(100% - 18px) calc(100% - 2px),
    calc(100% - 18px) calc(100% - 4px),
    calc(100% - 16px) calc(100% - 4px),
    calc(100% - 16px) calc(100% - 6px),
    calc(100% - 14px) calc(100% - 6px),
    calc(100% - 12px) calc(100% - 6px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 10px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 10px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 6px) calc(100% - 12px),
    calc(100% - 6px) calc(100% - 14px),
    calc(100% - 6px) calc(100% - 16px),
    calc(100% - 4px) calc(100% - 16px),
    calc(100% - 4px) calc(100% - 18px),
    calc(100% - 2px) calc(100% - 18px),
    calc(100% - 2px) calc(100% - 24px),
    100% calc(100% - 24px),
    100% 24px,
    calc(100% - 2px) 24px,
    calc(100% - 2px) 18px,
    calc(100% - 4px) 18px,
    calc(100% - 4px) 16px,
    calc(100% - 6px) 16px,
    calc(100% - 6px) 14px,
    calc(100% - 6px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 10px,
    calc(100% - 10px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 6px,
    calc(100% - 14px) 6px,
    calc(100% - 16px) 6px,
    calc(100% - 16px) 4px,
    calc(100% - 18px) 4px,
    calc(100% - 18px) 2px,
    calc(100% - 24px) 2px,
    calc(100% - 24px) 0px,
    24px 0px,
    24px 2px,
    18px 2px,
    18px 4px,
    16px 4px,
    16px 6px,
    14px 6px,
    12px 6px,
    12px 8px,
    10px 8px,
    8px 10px,
    8px 12px,
    6px 12px,
    6px 14px,
    6px 16px,
    4px 16px,
    4px 18px,
    2px 18px,
    2px 24px,
    0px 24px,
    0px 50%,
    4px 50%,
    4px 26px,
    6px 26px,
    6px 20px,
    8px 20px,
    8px 18px,
    10px 18px,
    10px 16px,
    10px 14px,
    12px 14px,
    12px 12px,
    14px 12px,
    14px 10px,
    16px 10px,
    18px 10px,
    18px 8px,
    20px 8px,
    20px 6px,
    26px 6px,
    26px 4px,
    calc(100% - 26px) 4px,
    calc(100% - 26px) 6px,
    calc(100% - 20px) 6px,
    calc(100% - 20px) 8px,
    calc(100% - 18px) 8px,
    calc(100% - 18px) 10px,
    calc(100% - 16px) 10px,
    calc(100% - 14px) 10px,
    calc(100% - 14px) 12px,
    calc(100% - 12px) 12px,
    calc(100% - 12px) 14px,
    calc(100% - 10px) 14px,
    calc(100% - 10px) 16px,
    calc(100% - 10px) 18px,
    calc(100% - 8px) 18px,
    calc(100% - 8px) 20px,
    calc(100% - 6px) 20px,
    calc(100% - 6px) 26px,
    calc(100% - 4px) 26px,
    calc(100% - 4px) calc(100% - 26px),
    calc(100% - 6px) calc(100% - 26px),
    calc(100% - 6px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 18px),
    calc(100% - 10px) calc(100% - 18px),
    calc(100% - 10px) calc(100% - 16px),
    calc(100% - 10px) calc(100% - 14px),
    calc(100% - 12px) calc(100% - 14px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 14px) calc(100% - 12px),
    calc(100% - 14px) calc(100% - 10px),
    calc(100% - 16px) calc(100% - 10px),
    calc(100% - 18px) calc(100% - 10px),
    calc(100% - 18px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 6px),
    calc(100% - 26px) calc(100% - 6px),
    calc(100% - 26px) calc(100% - 4px),
    26px calc(100% - 4px),
    26px calc(100% - 6px),
    20px calc(100% - 6px),
    20px calc(100% - 8px),
    18px calc(100% - 8px),
    18px calc(100% - 10px),
    16px calc(100% - 10px),
    14px calc(100% - 10px),
    14px calc(100% - 12px),
    12px calc(100% - 12px),
    12px calc(100% - 14px),
    10px calc(100% - 14px),
    10px calc(100% - 16px),
    10px calc(100% - 18px),
    8px calc(100% - 18px),
    8px calc(100% - 20px),
    6px calc(100% - 20px),
    6px calc(100% - 26px),
    4px calc(100% - 26px),
    4px 50%,
    0px 50%
  );
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -4px;
}
